h1,h2,h3,p,ul,li,section,article,tg,th,tg-baqh {
font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
font:inherit;
font-size:100%;
margin:0;
padding:0;    
}
#main-container {
    background: url("../images/main-background.jpg");
    background-size: cover;
    background-position: 50% 50%;    
    padding: 0 40px;
    width: 90%;
    max-width: 800px;
    margin: -30px auto;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 20px;
}
.clear {clear: both;}
section {
	border-top: 1px solid white;
	padding: 20px 30px;
}
#tipster-link {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
}
.sectionTitle {
	float: left;
	width: 25%;
}
.sectionContent {
	float: right;
	width: 72.5%;
}
.sectionTitle h1 {
	font-size: 1.5em;
	color: #7e72ab;
}
.sectionContent h2 {
	font-size: 1.5em;
	margin-bottom: -2px;
}
.subDetails {
    color: #444;
	font-size: 0.9em;
	font-style: italic;
	margin-bottom: 3px;
}
.sub-list {
    list-style-type: circle;
    margin-left: 19px;
    margin-left: 19px;
}
#mother-language {
    margin-top: 119px;
	font-size: 1.1em;
	color: #7e72ab;
}
#other-language {
    margin-top: 28px;
	font-size: 1.1em;
	color: #7e72ab;
}
#english {
    margin-top: 28px;
	font-style: italic;
	font-size: 1.1em;
	color: #7e72ab;
    float: right;
}
#comunication-skills {    
    margin-top: 145px;
	font-size: 1.1em;
	color: #7e72ab;
}
#comunication-list {
    list-style-type: circle;
    margin-left: 14px;
}
#driving-license {
    margin-top: 60px;
	font-size: 1.1em;
	color: #7e72ab;
}
.computer-skills {
	list-style-type: circle;
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
	margin-bottom: 20px;
    padding-top: 4px;
	font-size: 1em;
    width: 650px;
}
.computer-skills li {
    padding-top: 3px;
    margin-left:9px;
}
.tg  {
    border-collapse:collapse;
    border-spacing:0; 
    margin-top: 65px;
}
.tg td {
    font-size:12px;
    padding:10px 20px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}
.tg th {
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}
.tg .tg-baqh {
    text-align:center;
    font-size: 0.86em;
    vertical-align:top
}
.tg .tg-8d8j {
    text-align:center;
    vertical-align:bottom
}